body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    color: rgb(17, 173, 201);
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(148, 148, 148);
    border-width: 5px;
    width: 8%;
    margin: 80px auto 80px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: #eaf6f6;
}

.tagline {
    color: rgb(17, 173, 201);
    margin-top: 2px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 84, 95);
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 150px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 60px;
}

.intro {
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    padding: 10px;
    margin: 25px auto 25px auto;
    text-align: left;
}

.frontend {
    width: 25%;
    float: left;
    margin-right: 20px;
}

.react {
    width: 22%;
    float: right;
    margin-top: 15px;
    margin-left: 2px;
}

.message {
    width: 40%;
    margin: 40px auto 40px auto;
}

.copyright {
    color: #eaf6f6;
    font-size: 14px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
} 
.btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
}

.middle-container {
    margin-top: 60px;
}

.bottom-container {
    margin-top: 65px;
    background-color: #66bfbf;
    padding: 25px 0 10px;
}
